<template name="Admin_page">
	<div class="page--admin">
		<h1>Shakespeare in Shoreditch Story Map Admin Area</h1>		
		<div class="grid">
			<img class="grid-map-image" src="/assets/images/map.png">
		</div>
		<div class="control">
			<section class="info">
				<strong>Selected Location:</strong> {{selectionPosition.x}} / {{selectionPosition.y}}
			</section>
			{{#if isPositionFull }}
			<section class="edit">
				<h2>Edit Location</h2>
				<img src="{{currentSrc}}"/>
				<strong><a href="#delete" class="delete-content">Delete content at {{selectionPosition.x}} / {{selectionPosition.y}}</a></strong>				
			</section>
			{{/if}}
		</div>
	</div>
</template>